/* hurdatle stylesheet v0.2 */
/* by las-r on github */

body {
    margin: 50px;
    background: #000;
    color: #fff;
}

h1, h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 100;
}
h2 {
    text-align: left;
    font-size: 30px;
}

p.title {
    text-align: center;
    font-size: 20px;
}
p.footer {
    text-align: center;
    margin-bottom: 10px;
}
p.attr {
    font-size: 12px;
    color: #999;
}

img {
    width: 100%;
    max-width: 700px;
    min-width: 300px;
    height: auto;
    border: #fff 2px solid;
}

input {
    margin-bottom: 10px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.inl_cont {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;;
}
